In [1]:
import pandas as pd

In [2]:
students={
    'Name':['Hema','Kalpana','Bharathi','Niharika'],
     'ID':[46,49,48,45],
    'Class':['A','B','A','B'],
    'Branch':['ECE','EEE','ECE','EEE'],
    'Contact':['123-456-7890','234-567-8901','345-678-9012','456-789-0123'],
    'Hostel Room':['A011','B202','A012','B203'],
    'Remarks':['GOOD','AVERAGE','EXCELLENT','BETTER']
}

In [3]:
df=pd.DataFrame(students)
print(df)

  Branch Class       Contact Hostel Room  ID      Name    Remarks
0    ECE     A  123-456-7890        A011  46      Hema       GOOD
1    EEE     B  234-567-8901        B202  49   Kalpana    AVERAGE
2    ECE     A  345-678-9012        A012  48  Bharathi  EXCELLENT
3    EEE     B  456-789-0123        B203  45  Niharika     BETTER